/* You can add global styles to this file, and also import other style files */
h2{
  text-align: center;
}

.banner{
 text-align: center;
 margin: auto;
 height: 2%;
 width: 80%;
}

.form-group{
 text-align: center;
 margin: auto;
 height: auto;
 width: 200px;

}
.container{
  text-align: center;
}

.row{
  text-align: center;
  margin: auto;
  height: auto;
  width: auto;
}
