<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Register</title>
    <link rel="stylesheet" href="css/master.css">
  </head>
  <body>

<div class="topnav">
  <h2 class="navTitle">Login Page</h2>
  <a href="/Register">Register</a>
</div>
<form action="/login" method="post">
    <div>
        <label>Username:</label>
        <input type="text" name="username"/>
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password"/>
    </div>
    <div>
        <input type="submit" value="Log In" class="btn btn-primary"/>
    </div>
</form>
</body>
</html>
